### Environments ### 
.env
.flask
env/
flask/
ENV/
env.bak/
flask.bak/

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode

# env constants
.bash_profile